.case-page {
  padding: 0 30px;

  &__title {
    padding: 100px 0 25px 0;
    transform: translateY(100%);
    animation: 0.5s goText forwards ease-in-out;
    opacity: 0;
    text-transform: uppercase;
  }

  &__filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 34px;

    &_button {
      background: transparent;
      padding: 10px 20px;
      border-radius: 50px;
      font-size: 1rem;
      font-weight: 600;
      border: 1px solid #000000;
      text-transform: uppercase;
      color: #000000;
      transition: .3s;
    }

    &_button:hover {
      border: 1px solid #00BBB6;
      color: #00BBB6;
    }
  }

  &__cases {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 15px;

    &_item {
      width: calc((100% - 15px)/2);
      position: relative;
      max-height: 800px;

      &__images {
        width: 100%;
        max-width: 100%;
        height: 100%;
        border-radius: 10px;
        max-height: 800px;
        object-fit: cover;
      }

      &__buttons {
        position: absolute;
        top: 3%;
        left: 4%;
        display: flex;
        flex-direction: row;
        align-items: center;

        &_button {
          height: 32px;
          background: transparent;
          padding: 5px;
          border-radius: 50px;
          font-size: 1rem;
          border: 1px solid #ffffff;
          color: #ffffff;
          line-height: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          &__event {
            color: #FFFFFF;
            opacity: .7;
            font-size: 1rem;
            font-weight: 400!important;
          }
          &__company {
            color: #FFFFFF;
            font-weight: 600;
            font-size: 1rem;
          }
        }
      }

      &__title {
        color: #ffffff;
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        bottom: 3%;
        left: 4%;
        text-transform: uppercase;
      }
    }

    &_item:hover {
      transform: scale(1.01);
      transition: .3s;
    }
  }
}

@keyframes goText {
  0% {
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 1440px) {
  .case-page__cases_item__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1280px) {
  .case-page {
    &__title {
      font-size: 7.5vw;
    }
    &__cases_item__title {
      font-size: 2rem;
    }
    &__cases_item__images {
      max-height: 346px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .case-page__cases_item__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .case-page__cases_item__title {
    font-size: 1.5rem;
  }
  .case-page__cases_item__buttons_button {
    height: 28px;
    padding: 2px;
    font-size: 0.7rem;
    border-radius: 13px;
    &__icon {
      height: 20px;
    }
    &__event {
      font-size: 0.7rem;
    }
    &__company {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 690px) {
  .case-page {
    padding: 0 15px;

    &__title {
      padding: 50px 0;
      font-size: 6rem;
    }

    &__filter_button {
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 1rem;
    }

    &__cases {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0;

      &_item {
        width: 100%;

        &__title {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .case-page {

    &__title {
      font-size: 3.375rem;
      padding: 30px 0 20px 0;
    }

    &__filter{
      padding-bottom: 15px;

      &_button {
        width: max-content;
        margin-bottom: 5px;
        font-size: 0.75rem;
      }
    }

    &__cases_item__buttons_button {
      height: 20px;
      padding: 2px 5px;
      font-size: 0.75rem;
      border-radius: 50px;
      border: 0.5px solid #ffffff;

      &__icon {
        height: 16px;
      }
      &__event {
        font-size: 0.75rem;
      }
      &__company {
        font-size: 0.75rem;
      }
    }

    &__cases_item__title {
      font-size: 1.5rem;
    }
  }
}