.article-page {
  padding: 0 30px;

  &__header {
    position: relative;

    &_image {
      width: 100%;
      height: auto;
    }

    &_title {
      font-size: 4rem;
      color: #FFFFFF;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &__description {
    margin: 100px 150px 50px 150px;
    p {
      font-size: 2rem;
    }
    &_image {
      width: 100%;
      height: auto;
    }
    &_button__image {
      width: 100%;
      max-width: 20px;
    }

    &_button:hover {
      background-color: #00BBB6;
    }
  }
}

.carousel.carousel-slider {
  overflow: visible;
}
.control-dots {
  bottom: -54px;
}

@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: -54px;
  }
}