.burger-component {
  background-color: rgba(0,0,0,.2);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  left: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  transition: .3s;

  &__container {
    background-color: #FFFFFF;
    width: 72vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    &_menu {
      width: 79%;
      height: 81%;
      margin: 0 auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;

      &__language {
        display: none;
      }

      &__close {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &_btn {
          background: transparent;
          border: none;
          max-width: 40px;

          &__img {
            width: 100%;
            height: auto;
          }
        }
      }

      &__href {
        display: flex;
        flex-direction: column;

        &_a {
          font-size: 3rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &_socialMedia {
          display: flex;
          flex-direction: row;
        }

        &_btn {
          display: flex;
          flex-direction: row;
          gap: 10px;

          &__brief {
            padding: 30px 80px;
            border-radius: 100px;
            background-color: #00BBB6;
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1;
            border: none;
          }

          &__presentation {
            padding: 30px 80px;
            border-radius: 100px;
            background-color: transparent;
            color: #000000;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1;
            border: 2px solid #000000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1770px) {
  .burger-component__container_menu__buttons_btn {
    &__brief {
      padding: 30px 50px;
      font-size: 1.5rem;
    }

    &__presentation {
      padding: 30px 50px;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 1600px) {
  .burger-component__container_menu {
    height: 91%;

    &__href_a {
      font-size: 2.5rem;
    }

    &__href_a:hover {
      color: #00BBB6;
      transition: 0.3s;
    }
    &__buttons_btn__brief {
      padding: 20px;
    }
    &__buttons_btn__presentation {
      padding: 20px;
    }
    &__close_btn__img {
      max-width: 30px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .burger-component__container_menu__buttons_btn__brief, .burger-component__container_menu__buttons_btn__presentation {
    font-size: 1.25rem;
    padding: 16px 45px;
  }
}

@media screen and (max-width: 1150px) {
  .burger-component__container_menu__buttons_btn {
    display: flex;
    flex-direction: column;
    &__brief {
      text-align: center;
    }

    &__presentation {
      text-align: center;
    }
  }
}

@media screen and (max-width: 650px) {
  .burger-component {
    background-color: transparent;

    &__container {
      width: 100vw;

      &_menu {
        width: 79%;
        height: 81%;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        &__language {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 20px;

          &_btn {
            font-size: 1rem;
            display: block;
          }

          &_btn.active {
            border-bottom: 1px solid #000000;
          }
        }

        &__close_btn img {
          max-width: 25px;
        }

        &__href_a {
          font-size: 2rem;
          text-align: center;
        }

        &__buttons{
          margin-top: 30px;
          align-items: center;
          &_btn {
            &__brief {
              padding: 15px 40px;
              font-size: 1rem;
            }

            &__presentation {
              padding: 15px 40px;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}