.header {
    padding: 20px 30px 0 30px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 101;

    &__logo {
        max-width: 100px;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 22px;
        gap: 75px;
        position: relative;
        &_item {
            background-color: transparent;
            border:none;
            color: black;
            font-size: 1.25rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
        }
        &_item::after {
            content: "•";
            color: transparent;
        }
        &_item.active {
            color: #00BBB6;
        }
        &_item.active::after {
            content: "•";
            color: #00BBB6;
        }
    }

    &__multilanguage {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 22px;

        &_button {
            background: transparent;
            border: none;
            font-size: 1.5rem;
        }

        &_button.active {
            border-bottom: 1px solid #000000;
        }
    }

    .header-mob {
        display: none;
    }

    .header-desk {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.header-desk-scroll {
    position: fixed;
    height: 117px;
    padding: 20px 30px 0 30px;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
        max-width: 100px;
    }

    &__burger {
        display: flex;
        flex-direction: row;
        gap: 50px;

        &_text {
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 600;
        }

        &_item {
            border: none;
            background-color: transparent;
        }
    }
}

@media screen and (max-width: 1100px) {
    .header__nav {
        gap: 25px;
    }
}

@media screen and (max-width: 800px) {
    .header {

        .header-mob {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__logo {
                max-width: 60px;

                &_img {
                    max-width: 60px;
                }
            }

            &__burger {
                &_item {
                    border: none;
                    background-color: transparent;
                    max-width: 40px;
                }
            }
        }

        .header-desk {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 20px 15px 0 15px;
    }
    .header-desk-scroll {
        padding: 20px 15px 0 15px;
        z-index: 103;

        &__logo_img {
            width: 60px;
            height: 60px;
        }

        &__burger_text {
            display: none;
        }
    }
}