@import '../../../node_modules/nprogress/nprogress.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    font-size: 8rem;
    line-height: 1;
}
a {
    text-decoration: none;
    color: black;
}

textarea,
input[type="text"],
input[type="number"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

button {
    background-color: transparent;
    border: none;
}

.checkbox,
.checkbox::before,
.checkbox::after {
    box-sizing: border-box;
}

.checkbox *,
.checkbox *::before,
.checkbox *::after {
    box-sizing: border-box;
}

.containerAll {
    padding: 0 30px;
}

.isDesktop {
    display: block;
}
.isMobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .isDesktop {
        display: none;
    }

    .isMobile {
        display: block;
    }

    .containerAll {
        padding: 0 15px;
    }
}