.error-page {
  background-image: url("../../media/images/errorBg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 10px;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 959px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_number {
      margin: 0 auto;
      width: 65%;

      &__img {
        width: 100%;
        height: auto;
        max-width: 702px;
      }
    }

    &_text {
      box-sizing: border-box;
      color: #000000;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 40px;
      padding: 0 1rem;
    }

    &_description {
      color: #000000;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      margin-bottom: 40px;
      padding: 0 1rem;
      max-width: 550px;
    }

    &_button {
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1;
      border: none;
      background-color: #00BBB6;
      padding: 20px 50px;
      border-radius: 100px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .error-page__container_text {
    font-size: 5vw;
  }
  .error-page__container_description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .error-page {
    max-height: 65vh;
    min-height: 65vh;

    &__container {
      max-width: min-content;
      padding: 0 15px;
      box-sizing: border-box;

      &_text {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }

      &_description {
        color: #000000;
        font-size: 0.8rem;
        margin-bottom: 20px;
      }

      &_button {
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        border: none;
        background-color: #00BBB6;
        padding: 15px 25px;
        border-radius: 100px;
      }
    }
  }
}