.main-page {
  width: 100%;
  position: relative;

  &__video {
    width: 100%;

    &_intro {
      width: 100%;
      height: auto;
    }
  }

  &__container {
    padding: 0 30px;
  }

  &__tagline {
    background-image: url("../../public/images/background1Main.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
    max-height: 469px;
    min-height: 469px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;

    &_container {
      max-width: 1533px;
      width: 100%;
      margin: 0 auto;
      position: absolute;

      &__text {
        color: #ffffff;
        font-size: 6rem;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;

        &_image {
          width: 63px;
          height: 63px;
          max-width: 63px;
          animation: 2s sunRotate infinite 1s ease-in-out;
        }
      }

      &__align1 {
        text-align: center;
      }

      &__align2 {
        text-align: left;
        padding-left: 2rem;
      }

      &__align3 {
        text-align: right;
        padding-right: 2rem;
      }
    }

    &_container1 {
      opacity: 1;
      animation: 15s opacityBlock1 ease-in-out infinite;
    }

    &_container2 {
      opacity: 0;
      animation: 15s opacityBlock2 ease-in-out infinite;
    }

    &_container3 {
      opacity: 0;
      animation: 15s opacityBlock3 ease-in-out infinite;
    }
  }

  &__application {
    background-image: url("../../public/images/mainBg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
    max-height: 750px;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_tagline {
      width: 81%;
      margin: 0 auto;

      &__text {
        color: #FFFFFF;
        font-size: 6.75rem;
        font-weight: 800;
        line-height: 0.7;
      }

      &__text1 {
        text-align: left;
      }

      &__text2 {
        text-align: center;
        margin-bottom: 56px;
      }

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_text {
          color: #FFFFFF;
          font-weight: 500;
          font-size: 1.25rem;
          text-align: center;
          max-width: 500px;
          margin-bottom: 56px;
        }

        &_btn {
          color: #000000;
          font-weight: 500;
          font-size: 2rem;
          padding: 30px 80px;
          text-transform: uppercase;
          text-align: center;
          background-color: #FFFFFF;
          border-radius: 100px;
          border: none;
        }

        &_btn:hover {
          background-color: #FBFBFB;
        }
      }
    }
  }

  &__parallax {
    position: relative;
    margin-top: 30px;
    margin-bottom: 200px;
    display: inline-block;
    width: 100%;

    &_image {
      position: absolute;
      z-index: 0;
      width: 100%;

      &__img {
        width: 100%;
      }
    }
  }
}

@keyframes opacityBlock1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityBlock2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityBlock3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1400px) {
  .main-page__application_tagline__text2 {
    margin-bottom: 30px;
  }
  .main-page__application_tagline__container_text {
    margin-bottom: 30px;
  }
  .main-page__application_tagline__text {
    font-size: 7rem;
  }
}


@media screen and (max-width: 1350px) {
  .main-page__tagline_container__text {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1280px) {
  .main-page__tagline_container__text {
    font-size: 4.2rem;
  }
  .main-page__application {
    min-height: 650px;
    &_tagline {
      &__text {
        font-size: 7.5vw;
      }

      &__container_btn {
        padding: 16px 45px;
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .main-page__tagline {
    min-height: 400px;

    &_container__text {
      font-size: 3rem;
      &_image {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .main-page__tagline {
    min-height: 300px;
    &_container__text {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .main-page__tagline {
    min-height: 200px;
    &_container{

      &__align2 {
        padding-left: 0.8rem;
      }

      &__align3 {
        padding-right: 0.2rem;
      }

      &__text {
        font-size: 2rem;

        &_image {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .main-page__parallax {
    margin-bottom: 80px;
  }

  .main-page__application {
    height: 418px;
    max-height: 418px;
    min-height: 418px;

    &_tagline__text {
      font-size: 2rem;
      line-height: 0.3;
    }
    &_tagline__container_text {
      font-size: 1rem;
    }
    &_tagline__container_btn {
      padding: 16px 45px;
      font-size: 1rem;
    }
  }

  .main-page__tagline_container2 .main-page__tagline_container__text {
    margin: -10px 0;
    line-height: 1;
  }

  .main-page__tagline_container1 .main-page__tagline_container__text {
    margin: -10px 0;
    line-height: 1;
  }


  .main-page__tagline_container__text {
    line-height: 0.6;
  }
}

@media screen and (max-width: 520px) {
  .main-page__tagline {
    min-height: 181px;

    &_container__text {
      font-size: 1.5rem;
      &_image {
        width: 17px;
        height: 17px;
      }
    }
  }
  .main-page__container {
    padding: 0 15px;
  }
}

@keyframes sunRotate  {
  0%{
    transform: rotate(0);
  }
  20%{
    transform: rotate(90deg);
  }
  40%{
    transform: rotate(-0);
  }
  60%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(0);
  }
}