.form-component {
  width: 100%;
  margin-top: 130px;
  &__title {
    max-width: 100%;
    z-index: 5;
    position: relative;
    &_p {
      font-size: 8rem;
      font-weight: 800;
      line-height: 1;
      span {
        color: #00BBB6;
        padding-left: 20px;
      }
    }
    &_arrow {
      width: 100%;
      height: auto;
      max-width: 80px;
      z-index: 5;
      position: relative;
    }
    &_sun {
      margin-right: 15px;
      width: 100%;
      height: auto;
      max-width: 63px;
    }
  }
  &__form {
    width: 100%;
    background-color: #EAEAEA;
    padding: 50px 46px;
    position: relative;

    &_header {
      margin-bottom: 5%;
      p {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1;
      }
    }

    &_main{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px 10px;
      font-size: 2rem;
      font-weight: 600;

      span {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 1px;
      }
      &__input {
        min-width: 20vw;
        max-width: 50vw;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #000000;
        background-color: transparent;
        width: max-content;
        padding: 0 0 0 10px;
        flex-grow: 1;
        font-size: 1.5rem;
      }
    }
    &_footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      &__checkbox {
        display: flex;
        flex-direction: row;
        &_label {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          cursor: pointer;
          user-select: none;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          input:checked ~ .checkbox__checkmark:after {
            opacity: 1;
          }
          .checkbox__checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 39px;
            width: 39px;
            border: 2px solid #00BBB6;
            background-color: transparent;
            transition: background-color 0.25s ease;
          }
          .checkbox__checkmark:after {
            content: "";
            position: absolute;
            left: 7.5px;
            top: 8px;
            width: 18px;
            height: 10px;
            border: solid #00BBB6;
            border-width: 0 0 2px 2px;
            transform: rotate(-45deg);
            opacity: 0;
            transition: opacity 0.25s ease;
          }
          .checkbox__body {
            color: #000000;
            font-size: 1.25rem;
            padding-left: 40px;
            padding-top: 8px;
          }
        }
      }
      &__button {
        width: min-content;
        border: none;
        font-size: 2rem;
        font-weight: 500;
        padding: 30px 80px;
        text-align: center;
        border-radius: 100px;
        text-transform: uppercase;
        background-color: #FFFFFF;
      }
    }
  }

  &__form::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 100px;
    right: -50px;
    top: -50px;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    transform: rotate(35deg)
  }
}

@media screen and (max-width: 1700px) {
  .form-component__title_p {
    font-size: 6vw;
  }
  .form-component__form_main {
    gap: 20px;
  }
  .form-component__title_arrow {
    width: 100%;
    max-width: 60px;
  }
}


@media screen and (max-width: 1200px) {
  .form-component__form_main {
    gap: 20px;
  }
  .form-component__title_arrow {
    max-width: 40px;
  }
  .form-component__title_sun {
    margin-right: 10px;
    max-width: 40px;
  }
}

@media screen and (max-width: 600px) {
  .form-component {
    margin-top: 100px;

    &__title {
      margin-bottom: 38px;

      &_sun {
        max-width: 18px;
        height: auto;
      }

      &_p {
        font-size: 2rem;
        line-height: 1;
        span {
          padding-left: 10px;
        }
      }

      &_arrow {
        max-width: 18px;
        height: auto;
      }
    }

    &__form {
      padding: 30px 15px;
      &_header {
        margin-bottom: 50px;
        p {
          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1;
        }
      }
      &_main{
        gap: 15px;

        span {
          font-size: 1.25rem;
          margin-bottom: 0;
          line-height: 1;
        }

        &__input {
          min-width: 8vw;
          margin: 0;
          padding: 0;
          font-size: 1rem;
        }

        &__padding {
          margin-right: 10px;
        }
      }
      &_footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 18px;
        &__checkbox {
          &_label {
            padding-left: 10px;
            .checkbox__checkmark {
              height: 20px;
              width: 20px;
            }
            .checkbox__checkmark:after {
              content: "";
              position: absolute;
              left: 3px;
              top: 3px;
              width: 9px;
              height: 5px;
            }
            .checkbox__body {
              font-size: 0.8rem;
              padding-left: 20px;
              padding-top: 2px;
            }
          }
        }
        &__button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: max-content;
          height: auto;
          font-size: 1rem;
          padding: 16px 45px;
          margin-top: 50px;
        }
      }
    }

    &__form::after {
      width: 100px;
      height: 50px;
      right: -30px;
      top: -20px;
    }
  }
}