.partners-component {
  width: 100%;
  margin: 120px 0 150px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 80px;
  gap: 200px;

    &__item {
      animation: scroll 10s linear infinite;

        &_image {
        width: 100%;
        max-width: 193px;
        height: auto;
        min-width: 193px;
      }
    }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0)
  }
}

@media screen and (max-width: 600px) {
  .partners-component {
    margin: 30px 0 100px 0;
    height: 50px;
    gap: 20px;

    &__item {
      animation: scroll 10s linear infinite;

      &_image {
        width: 100%;
        max-width: 100px;
        height: auto;
        min-width: 100px;
      }
    }
  }
}