.parallax-components {
  background-image: url("../../../media/images/background2Main.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: column;

  &__blur-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    &_text {
      box-sizing: border-box;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      margin-bottom: 50px;
      padding: 0 1rem;
    }

    &_button {
      text-transform: uppercase;
      color: #000000;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1;
      border: none;
      background-color: #fff;
      border-radius: 50px;
      padding: 30px 80px;
    }
  }

  &__line {
    border-bottom: 1px solid #000000;
  }

  &__numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0;

    &_num {
      display: flex;
      flex-direction: row;

      &__title {
        font-size: 8rem;
        font-weight: 800;
        line-height: 1;

        &_none {
          opacity: 0;
          font-size: 8rem;
        }

        &_year {
          font-size: 2rem;
        }
      }

      &__text {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
      }
    }

    &_description {
      max-width: 406px;
      &__text {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    &_item {
      &__btn1 {
        border: none;
        background-color: #00BBB6;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 500;
        border-radius: 50px;
        padding: 30px 80px;
      }

      &__btn1:hover {
        background-color: #01B1AD;
        transition: .3s;
      }

      &__btn2 {
        border: 2px solid #000000;
        background-color: transparent;
        text-transform: uppercase;
        color: #000000;
        font-size: 2rem;
        font-weight: 500;
        border-radius: 50px;
        padding: 30px 80px;
      }

      &__btn2:hover {
        background-color: #00BBB6;
        border: 2px solid #00BBB6;
        color: #FFFFFF;
        transition: .3s;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;

    &_img {
      width: 100%;
      height: auto;
      max-width: 345px;
    }
  }
}

@media screen and (max-width: 600px) {
  .gotg-page {
    max-height: 378px;
    min-height: 378px;
    margin: 100px 0 70px 0;

    &__container {
      &_text {
        font-size: 1rem;
      }

      &_button {
        font-size: 1rem;
        padding: 16px 45px;
      }
    }
  }
}