.services-page {
  &__title {
    color: #FFFFFF;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;

    &_btn {
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 2rem;
      padding: 30px 80px;
      border-radius: 100px;
      border: none;
      background-color: #00BBB6;
    }
  }

  &__tagline {
    background-image: url("../../../public/images/background1Service.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
    max-height: 765px;
    min-height: 765px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;

    &_container {
      max-width: 1579px;
      width: 100%;
      margin: 0 auto;
      &__text {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 8rem;
        font-weight: 900;
        line-height: 1;
        padding: 0 2rem;

        &_image {
          width: 165px;
          height: auto;
          max-width: 165px;
        }
      }

      &__align1 {
        transform: translateY(500%);
        text-align: left;
        animation: 0.5s goText forwards ease-in-out;
      }

      &__align2 {
        transform: translateY(500%);
        text-align: right;
        animation: 0.5s goText forwards ease-in-out;
      }

      &__align3 {
        transform: translateY(500%);
        text-align: left;
        animation: 0.5s goText 0.3s forwards ease-in-out;
      }

      &__align4 {
        transform: translateY(500%);
        text-align: center;
        animation: 0.5s goText 0.6s forwards ease-in-out;
      }
    }
  }
}

@keyframes goText {
  0% {
    transform: translateY(500%);
  }
  100%{
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1600px) {
  .services-page__tagline {
    max-height: 700px;
    min-height: 700px;
  }
}
@media screen and (max-width: 1600px) {
  .services-page__tagline_container__text {
    font-size: 8vw;
  }
}

@media screen and (max-width: 1300px) {
  .services-page__tagline {
    max-height: 580px;
    min-height: 580px;
  }
}

@media screen and (max-width: 1500px) {
  .services-page__tagline_container__text {
    font-size: 7vw;
    line-height: 0.85;
  }
}

@media screen and (max-width: 800px) {
  .services-page__tagline {
    max-height: 400px;
    min-height: 400px;
    &_container__text {
      font-size: 7vw;
      &_image {
        width: 80px;
        max-width: 80px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .services-page {

    &__title {
      color: #FFFFFF;
    }

    &__button {
      margin-top: 50px;

      &_btn {
        padding: 16px 45px;
        font-size: 1rem;
      }
    }

    &__tagline {
      max-height: 250px;
      min-height: 250px;

      &_container__text {
        font-size: 1.5rem;
        line-height: 0.5;

        &_image {
          width: 60px;
          max-width: 60px;
        }
      }
    }
  }
}
