.popup-project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;

  &__bg {
    min-width: 300px;
    width: 100%;
    max-width: 770px;
    height: auto;
    margin: 0 50px;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 5px 20px 20px 20px rgba(30, 30, 30, 0.19);
    background-image: url("../../../../public/images/popupProject.svg");
    background-color: #FFFFFF;

    &_container {
      padding: 30px;
      display: flex;
      flex-direction: column;

      &__close {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 10px;

        &_btn {
          background-image: url("../../../../public/images/close.svg");
          background-repeat: no-repeat;
          background-size: 40px auto;
          width: 40px;
          height: 40px;
          background-color: transparent;
          border: none;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-align: center;
        color: #000000;
        padding: 0 1rem;

        &_title {
          text-transform: uppercase;
          font-size: 4rem;
          font-weight: 700;
          max-width: 440px;
          margin-bottom: 30px;
        }

        &_subtitle {
          font-size: 1.25rem;
          font-weight: 400;
          max-width: 398px;
          margin-bottom: 30px;
        }

        &_form {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        &_input {
          padding: 20px 50px;
          font-size: 1.5rem;
          color: #000000;
          background-color: transparent;
          border: 1px solid #000000;
          border-radius: 50px!important;
          font-weight: 500;
          max-width: 531px;
          width: 100%;
          margin-bottom: 10px;
        }

        &_submit {
          padding: 20px 50px;
          font-size: 1.5rem;
          color: #FFFFFF;
          background-color: #00BBB6;
          border: none;
          border-radius: 50px!important;
          font-weight: 500;
          max-width: 531px;
          width: 100%;
          margin-top: 10px;
        }

        &_checkbox {
          display: flex;
          flex-direction: row;
          max-width: 531px;

          &__label {
            display: inline-block;
            position: relative;
            padding-left: 15px;
            cursor: pointer;
            user-select: none;
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
            input:checked ~ .checkbox__checkmark:after {
              opacity: 1;
            }
            .checkbox__checkmark {
              position: absolute;
              top: 2px;
              left: 0;
              height: 39px;
              width: 39px;
              border: 2px solid #00BBB6;
              background-color: transparent;
              transition: background-color 0.25s ease;
            }
            .checkbox__checkmark:after {
              content: "";
              position: absolute;
              left: 7.5px;
              top: 8px;
              width: 18px;
              height: 10px;
              border: solid #00BBB6;
              border-width: 0 0 2px 2px;
              transform: rotate(-45deg);
              opacity: 0;
              transition: opacity 0.25s ease;
            }
            .checkbox__body {
              color: #000000;
              font-size: 1.25rem;
              padding-left: 40px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .popup-project__bg_container__text_checkbox {
    align-items: center;
    margin: 10px 0;

    &__label .checkbox__body {
      font-size: 1rem;
    }

    &__label .checkbox__checkmark {
      width: 30px;
      height: 30px;
      top: -6px;
    }

    &__label .checkbox__checkmark:after {
      left: 4px;
      top: 3px;
    }
  }

  .popup-project {
    &__bg {
      margin: 0;
      height: 660px;

      &_container {
        padding: 15px;

        &__close {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-bottom: 40px;

          &_btn {
            background-size: 20px auto;
            width: 20px;
            height: 20px;
          }
        }

        &__text {
          &_title {
            font-size: 1.5rem;
            margin-bottom: 20px;
          }

          &_subtitle {
            font-size: 1rem;
            margin-bottom: 20px;
          }

          &_input {
            font-size: 1rem;
            margin-bottom: 5px;
          }

          &_submit {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .popup-project__bg_container__text_checkbox__label .checkbox__checkmark {
    top: 2px;
  }
}